**/*.md
**/*.svg
**/*.html
**/node_modules
package.json
**/*.png
*.ejs
*.ttf
*.eot
*.woff
.umi
.umi-production
/dist
.dockerignore
.DS_Store
.eslintignore
*.png
*.toml
docker
.editorconfig
Dockerfile*
.gitignore
.prettierignore
LICENSE
.eslintcache
*.lock
yarn-error.log
.history